title: Remote Hack
description: >- # this means to ignore newlines until "baseurl:"
  A free, fully-remote hackday that happens on the last Saturday of every month.
  It's very informal and emphasises chill-hacks-ing over actually producing anything
  that fully works (though if you wanna aim for that, that's cool too!)
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://remotehack.space" # the base hostname & protocol for your site, e.g. http://example.com




# Build settings
plugins:
  - jekyll-redirect-from
  - jekyll-sitemap
  
timezone: Europe/London

# To ensure that events in the future generate their html pages
future: true

collections:
  hacks:
    output: true

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
      type: "pages"
    values:
      layout: "default"
      show_title: true
  - scope:
      path: "" # an empty string here means all files in the project
      type: "hacks"
    values:
      layout: "hack"
      show_title: false
      upcoming: false
