---
layout: default
show_header: true
---

<p class="lead">
  An online event where you can meet friends and work on something new
</p>

<section class="📅">

  <div>
    {% assign sorted_hacks = site.hacks | where:"happened",false | sort:"date" | reverse %}
    {% assign next_hack = sorted_hacks | first %}
    {% assign start_time = next_hack.date | slice:0,10 | append:"T08:30Z" %}

    <h2>Next event</h2>
      {% if next_hack %}
      <p>
        <time class="⏰" datetime="{{start_time}}">
          {{ start_time | date_to_long_string }}

          <span>
            <script>
              document.currentScript.replaceWith(
                document.createTextNode(
                  new Intl.DateTimeFormat('default', {
                    hour: 'numeric',
                    minute: 'numeric',
                    timeZoneName: 'long'
                  })
                    .format(new Date("{{start_time}}"))
                )
              )
            </script>
            <noscript>
              {{ start_time | date: "%k:%M%P %Z" }}
            </noscript>
          </span>

        </time>
      </p>
      {% else %}
        <p class="☹️">
          There's nothing lined up! ☹️</p>
      {% endif %}
  </div>
  <p class="🖱️">
    <a href="{{ site.url }}/calendar.ics" data-emoji="📅">Add to your calendar</a>
  </p>
</section>


<p class="🖱️">
  <a href="{{ site.url }}/join" data-emoji="👉">Join us on Discord</a>
</p>

<form class="✉️" action="https://tinyletter.com/RemotehackSpace" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/RemotehackSpace', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <p>
    <label for="tlemail">Stay informed of future Remote Hack days</label>
  </p>
  <p>
    <input type="text"  name="email" id="tlemail" placeholder="your@email.com" class="⌨️"/><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="🤙"/>
  </p>
  <p>
    <a class="❤️" href="https://tinyletter.com" target="_blank" rel="noopener">Powered by TinyLetter</a>
  </p>
</form>


<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "{{ site.title }}",
    "description": "{{ site.description | split:"." | first }}",
    {% if next_hack %}
    "startDate": "{{start_time}}",
    {% endif %}
    "eventStatus": "https://schema.org/EventScheduled",
    "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
    "location": {
      "@type":"VirtualLocation",
      "url": "https://discord.gg/wNq8uVvQT3"
    },
    "image": [
      "https://remotehack.space/images/RH-social-square.jpg",
      "https://remotehack.space/images/RH-social-landscape.jpg"
    ]
  }
</script>
