---
layout: default
show_header: true

start: 2020-05-30T08:30Z
end: 2020-05-30T16:30Z
---


<p class="lead">
  A free, fully-remote hack day.
</p>

<h2>Our next hack</h2>

<p class="📅">
  <time datetime="{{page.start}}">
    {{ page.start | date_to_long_string }}

    <span>
      <script>
        document.currentScript.replaceWith(
          document.createTextNode(
            new Intl.DateTimeFormat('default', {
              hour: 'numeric',
              minute: 'numeric',
              timeZoneName: 'long'
            })
              .format(new Date("{{page.start}}"))
          )
        )
      </script>
      <noscript>
        {{ page.start | date: "%k:%M%P %Z" }}
      </noscript>
    </span>

  </time>
</p>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Event",
    "name": "Remote Hack #3",
    "description": "A free, fully-remote hack day",
    "startDate": "{{page.start}}",
    "endDate": "{{page.end}}",
    "eventStatus": "https://schema.org/EventScheduled",
    "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
    "location": {
      "@type":"VirtualLocation",
      "url": "https://remote-hack.slack.com/"
    },
    "image": [
      "https://remotehack.space/images/RH-social-square.jpg",
      "https://remotehack.space/images/RH-social-landscape.jpg"
    ]
  }
</script>

<h2>Previous hacks</h2>

<ol>
  <li>
    <a href="/hacks/02">25th April 2020</a>
  </li>
  <li>
    <a href="/hacks/01">28th March 2020</a>
  </li>
</ol>

<h2>Why are we doing this?</h2>
<p>Remote Hack helps developers and technologists get together to create solutions to Remote working, collaboration, and
  socialising. To go full-meta, we'll be hacking on tools for Remote hacking.</p>
<p>As social distancing sets in and many of us switch to full-time Remote, this event is a chance to hack on things that
  make Remote a little easier.</p>

<h2>What isn't it?</h2>
<ul>
  <li><strong>A competition.</strong> There are no prizes, and no ceremonies. At the end of the day there will be the
    opportunity to show what you've been hacking on, if you'd like to.</li>
  <li><strong>A hackathon.</strong> We'll be taking breaks, and exercising self-care.</li>
  <li><strong>Aiming to fix the world.</strong> Things are pretty dire for a lot of people right now, and If you'd like
    to hack on something directly related to COVID-19 then 🙌, but you're equally welcome to build something fun, or
    just learn something new.</li>
  <li><strong>About delivering polished software</strong>. This is a chance to collaboratively explore an idea, see if
    something <em>could</em> work, or learn something new.</li>
</ul>

<h2>What will we be hacking on?</h2>
<p>
  The theme of the day is "remote". Add your ideas as issues to our <a
    href="https://github.com/remotehack/remotehack.github.io/issues">GitHub issue tracker</a> for inspiration on the
  day. We'll come together in the morning and split out into small groups based on what interests us.
</p>
<p>
  We'll meet in our Slack to say hi, and be ready to kick off on Zoom at 9:30am. We encourage you to take breaks, and
  we'll be pausing for lunch around 12:30 (we recommend burritos 🌯 to support your local Mexican takeaway). We'll come
  together again around 4:30pm to share our experiences and anything we've built.
</p>
<p>
  During the day we'll be on Zoom and Slack, and encourage you to drop in for a chat. We can also help you get set up in
  groups to collaborate remotely.
</p>

<h2>What do I need?</h2>
<p>
  As long as you have a machine to hack on and an internet connection, you're good to go. We'll be collaborating on
  Slack and Zoom, and there are a bunch of really good tools for ad-hoc screen-sharing and collaboration.
</p>
<p>
  We've started putting together a list of <a href="https://github.com/remotehack/resources">remote hacking
    resources</a>. Feel free to add anything you think might be useful!
</p>
<!--
<p>TODO: how to collaborate remotely</p>
-->
<h2 id="coc">Code of Conduct</h2>
<p>All conferences and events should be friendly, safe and inclusive spaces for anyone to attend, and Remote Hack is no
  different. All organisers and attendees must abide by the <a href="https://berlincodeofconduct.org">Berlin Code of
    Conduct</a>.</p>

<h2>How do I sign up?</h2>

<p>
  <a href="https://join.slack.com/t/remote-hack/shared_invite/zt-d1dt03z4-GMVEmQHvGN~Mr9vmHGpOoQ" class="💞">
    👉 Join the Remote Hack Slack
  </a>
</p>

<p><em>By joining, you are agreeing to our Code of Conduct!</em></p>

<!--
<h2>How do I sign up?</h2>
<ol>
  <li>Edit <a href="https://github.com/remotehack/remotehack.github.io/blob/master/_data/attendees.yml">our attendees file</a> and add yourself.</li>
  <li>Create a PR for the change, and once that's merged you'll be on the list</li>
</ol>

<h2>Who's coming?</h2>
<ul class="🎩">
  {% for attendee in site.data.attendees %}
  <li>
    <img
          src="https://www.gravatar.com/avatar/{{ attendee.email_hash }}.jpg?s=100"
          alt="Picture of {{ attendee.name }}"
    />

    <span>{{ attendee.name }}</span>

    {% if attendee.github_username %}
    <a href="https://github.com/{{ attendee.github_username }}" class="📣">
      <img src="./images/gh.png"  width="16" height="16" />
      <span class="sr-only">GitHub</span>
    </a>
    {% endif %}

    {% if attendee.twitter_username %}
    <a href="https://twitter.com/{{ attendee.twitter_username }}" class="📣">
      <img src="./images/tw.png"  width="16" height="16" />
      <span class="sr-only">Twitter</span>
    </a>
    {% endif %}
  </li>
  {% endfor %}
</ul>
-->

<h2>Who's behind this?</h2>
<ul class="🎩">
  <li>
    <img src="images/BenPlusHat-small.jpg" alt="Ben Foxall wearing a hat">
    <span>Ben Foxall</span>

    <a href="https://github.com/benfoxall/" class="📣" aria-label="Ben on Github">
      <img class="gh" src="./images/gh.png" alt="" width="16" height="16" />
      <span class="sr-only">Ben on GitHub</span>
    </a>
    <a href="https://twitter.com/benjaminbenben" class="📣" aria-label="Ben on Twitter">
      <img src="./images/tw.png" alt="" width="16" height="16" />
      <span class="sr-only">Ben on twitter</span>
    </a>
  </li>

  <li>
    <img src="images/RyanAlsoWithAHat-small.jpg" alt="Ryan Brooks, also wearing a hat">
    <span>Ryan Brooks</span>
    <a href="https://github.com/spikeheap/" class="📣" aria-label="Ryan on Github">
      <img class="gh" src="./images/gh.png" alt="" />
      <span class="sr-only">Ryan on GitHub</span>
    </a>
    <a href="https://twitter.com/spikeheap" class="📣" aria-label="Ryan on Twitter">
      <img src="./images/tw.png" alt="" />
      <span class="sr-only">Ryan on twitter</span>
    </a>
  </li>
</ul>


<ul class="🔗">
  <li>
    Header image – <a href="https://back7.co/home/raspberry-pi-recovery-kit">The Raspberry Pi Recovery Kit</a>
  </li>
</ul>