<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Space+Mono:wght@400&display=swap"
    rel="stylesheet">

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for remotehack.space" href="/live/feed/" />
  <link rel="stylesheet" href="/assets/style.css">

  <!-- favicon images -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">

  {% assign description = page.description | default: site.description %}
  <!-- 🥰 https://metatags.io/  -->

  <!-- Primary Meta Tags -->

      {%- capture derivedTitle -%}
      {% if page.hack_number %}Hack {{page.hack_number | prepend: '0' | slice: -2, 2 }} – {{page.date | date: '%B %Y' }} |{% else %}{% if page.title %}{{ page.title }} | {% endif %}{% endif %}{{ site.title }}
      {%- endcapture -%}
  <title>
    {{ derivedTitle }}
  </title>
  <meta name="title" content="{{ derivedTitle }}">
  <meta name="description" content="{{ description }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://remotehack.space/">
  <meta property="og:title" content="{{ derivedTitle }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="/images/RH-social-landscape.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://remotehack.space/">
  <meta property="twitter:title" content="{{ derivedTitle }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="https://remotehack.space/images/RH-social-square.jpg">
</head>

<body{% if page.body_class %} class="{{page.body_class}}" {% endif %}>


  <nav class="🗺">
    <a href="/"> / </a>
    {% unless page.hide_page_links %}
    <a href="/code-of-conduct/"> Conduct </a>
    <a href="/about/"> About </a>
    <a href="/previous-hacks/"> Previous Hacks </a>
    <a href="/podcast/"> Podcast </a>
    {% endunless %}
  </nav>

  <script>
    for (const a of document.querySelectorAll('.🗺 a')) if (location.href === a.href) a.classList.add('current')
  </script>


  {% if page.show_header %}
  <header>
    <div class="⏹">
      <h1 class="⭐️">
        <span class="🏘">Remote</span>
        <span class="💥"><span>Hack</span></span>
      </h1>
    </div>
    <div>
      <img src="/images/pi-small.jpg" alt="A raspberry pi looking like an old computer" width="1197" height="1197" />
    </div>
  </header>
  {% endif %}

  <main>
    {% if page.title and page.show_title %}<h1>{{ page.title }}</h1>{% endif %}
    {{ content }}

    {% if page.show_header %}
    <footer>
      <ul class="🔗">
        <li>
          Header image – <a href="https://back7.co/home/raspberry-pi-recovery-kit">The Raspberry Pi Recovery Kit</a>
        </li>
        <li>
          Site hosted with <a href="https://github.com">Github</a>. {% if site.github %}View the <a href="{{ site.github.repository_url }}">source repository</a>.{% endif %}
        </li>
      </ul>
    </footer>
    {% endif %}
  </main>

  </body>

</html>
